$textColor: #00868B;
$bgColor: #D1EEEE;
$borderColor: #00868B;
h1 {
    position: flex;
    display: flex;
    color: $textColor;
    font-size: xx-large;
    margin: 10%;
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

button {
    color: $bgColor;
    background-color: $textColor;
    text-align: center;
    padding: 1%;
    border-radius: 10px;
    border: none;
}
