<div class="login_form_container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="login_errors" *ngIf="loginError.length > 0">
                <span>{{loginError}}</span>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <form class="login_form" [formGroup]="loginForm" (submit)="login()">
                <mat-form-field>
                    <mat-label for="email">Email:</mat-label>
                    <input matInput formControlName="email" id="email" type="text" placeholder="basket@ball.com" />
                </mat-form-field><br />
                <mat-form-field>
                    <mat-label for="password">Password:</mat-label>
                    <input matInput formControlName="password" id="password" type="password" placeholder="*******" />
                </mat-form-field><br/>
                <div class="buttons_container" *ngIf="!loggingIn">
                    <button mat-raised-button type="submit">Login</button>
                    <button mat-raised-button type="button" (click)="back()">Back</button>
                </div>
                <div class="loading_bar" *ngIf="loggingIn">
                    <div class="logging">Logging in...</div>
                    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
                </div>
            </form>
        </mat-card-actions>
    </mat-card>
</div>
