<mat-sidenav-container>
    <mat-sidenav #sideNav>
        <app-menu (closeSideNavEmitter)="closeSidenav($event, sideNav)" (logoutEmitter)="logOut()" [activePage]="activePage" [loggedInUser]="loggedInUser"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="openSidenav(sideNav)">
                <mat-icon>sports_basketball</mat-icon>
                </button>
            </div>
            <div>Basketball.info</div>
            <div class="menu" fxHide.xs>
                <nav>
                    <ul fxLayoutGap="3%">
                        <li *ngIf="loggedInUser" id="home" routerLink="/home" [ngClass]="activePage === 'home' ? 'active':'normal'">Home</li>
                        <li id="teams" routerLink="teams" [ngClass]="activePage === 'teams' ? 'active':'normal'">Teams</li>
                        <li id="champs" routerLink="/champs" [ngClass]="activePage === 'champs' ? 'active':'normal'">Champs</li>
                        <li *ngIf="!loggedInUser" id="login" routerLink="/login" [ngClass]="activePage === 'login' ? 'active':'normal'">Login</li>
                        <li *ngIf="!loggedInUser" id="registration" routerLink="/registration" [ngClass]="activePage === 'registration' ? 'active':'normal'">Sign up</li>
                        <li *ngIf="loggedInUser" id="logout" class="normal" (click)="logOut()">Log out</li>
                    </ul>
                </nav>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>