$textColor: #00868B;
$bgColor: #D1EEEE;
$borderColor: #00868B;
$warningColor: red;
.title {
    padding: 1.5%;
    color: $textColor;
    margin: 3%;
    width: 100%;
    border-bottom: $borderColor solid 2px;
    text-align: center;
}

mat-card {
    text-align: center;
    border: 4px solid $borderColor;
    border-radius: 42px;
    background-color: $bgColor;
    margin: 3%;
}
